<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>hello world!</h1>

<form action="">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <button>Send</button>
</form>


{% for people in all_people %}
    <div class="people-item">
        <p>Name is {{ people.name }}</p>
        <p>Surname is {{ people.surname }}</p>
        <p>Age is {{ people.age }}</p>
    </div>
    <hr>
{% endfor %}

</body>
</html>